<div class="grid">
    <div class="col-lg-10 col-sm-12 col-lg-offset-2">

        <p-dataView #dv [value]="items" emptyMessage="Sin ordenes en proceso">
            <ng-template pTemplate="list" let-items>
                <div class="grid grid-nogutter">
                    <div class="col-12" *ngFor="let item of items; let first = first" class="col-12">
                        <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                    <div>
                                        <div class="text-lg font-medium text-900 mt-2">{{ item.quantity + " " + item.meal?.name + " en mesa " + item.table?.name}}</div>
                                    </div>
                                </div>
                                <div class="flex flex-column md:align-items-end gap-5">
                                    <div class="flex md:flex-row gap-2">
                                        <p-button severity="danger" icon="pi pi-trash" class="flex-auto md:align-items-end white-space-nowrap" label="Cancelar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>


