<div class="flex flex-wrap justify-content-center ">
    <div class="w-full">
        <p-card header="Usuarios"  class="">
            <div>
                <p-inputGroup class="w-full">
                    <p-inputGroupAddon>
                        <i class="pi pi-search"></i>
                    </p-inputGroupAddon>
                    <input type="text" pInputText placeholder="Buscar" />
                    <button type="button" pButton icon="pi pi-plus" class="p-button-success" size="small" pTooltip="Nuevo usuario" (click)="showModal()"></button>
                </p-inputGroup>

                <p-dataView #dv [value]="items" [rows]="5" [paginator]="true" emptyMessage="Usuarios no registrados">
                    <ng-template pTemplate="list" let-items>
                        <div class="grid grid-nogutter">
                            <div class="col-12" *ngFor="let item of items; let first = first" class="col-12">
                                <div class="grid p-2" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                    <div class="col">
                                        <div class="overflow-hidden text-overflow-ellipsis text-lg font-medium text-900 mt-2" style="width:100px">{{ item.name }}</div>
                                    </div>
                                    <div class="col-fixed gap-1">
                                        <p-button icon="pi pi-pencil" size="small"  pTooltip="Editar" (click)="showModal(true,item)"/>
                                    </div>
                                    <div class="col-fixed gap-1">
                                        <p-button severity="danger" icon="pi pi-trash"  size="small"  pTooltip="Eliminar" (click)="confirmDeleted(item)"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
        </p-card>
    </div>
</div>
<p-dialog header="{{isEdit?'Editar':'Nuevo'}} usuario" [modal]="true" [(visible)]="visibleModal" >
    <div class="formgrid grid gap-3 mb-3 mt-3">
        <div class="field col-12">
            <label for="name">Nombre del usuario</label>
            <input pInputText id="name" type="text" [(ngModel)]="user.name" class="w-full">
        </div>
        <div class="field col-12">
            <p-divider />
        </div>
        <div class="field col-12">
            <label for="role">Sucursal</label>
            <p-dropdown 
                id="role"
                [style]="{'width':'100%'}"
                [options]="branches" 
                [(ngModel)]="selectedBranche" 
                optionLabel="name" 
                placeholder="Selecciona la sucursal" />
        </div>
        <div class="field col-12">
            <p-divider />
        </div>
        <div class="field col-12">
            <label for="role">Rol</label>
            <p-dropdown 
                id="role"
                [style]="{'width':'100%'}"
                [options]="roles" 
                [(ngModel)]="selectedRol" 
                optionLabel="name" 
                placeholder="Selecciona el Rol" />
        </div>
        <div class="field col-12" pTooltip="usuario@nombre-bar">
            <label for="user_name">Usuario</label>
            <p-inputGroup>
                <input id="user_name" type="text" [(ngModel)]="user.user_name" pInputText />
                <p-inputGroupAddon>{{'@'+ current.instance!.name_kitchen!.toLowerCase()}}</p-inputGroupAddon>
            </p-inputGroup>
        </div>
        <div class="field col-12">
            <label for="password">Contraseña</label>
            <p-password id="password" [(ngModel)]="user.password" #password="ngModel" name="password" 
            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                         [toggleMask]="true"></p-password>
        </div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visibleModal = false" />
        <p-button label="Guardar" (click)="confirmSave()" />
    </div>
</p-dialog>
<p-toast />
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button 
                    pButton 
                    label="Si" 
                    (click)="cd.accept()" 
                    class="w-8rem">
                </button>
                <button 
                    pButton 
                    label="No" 
                    (click)="cd.reject()" 
                    class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>