.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
    border-top-left-radius: 24px;
    background: var(--surface-ground);
    margin-top: -24px;
    padding-top: calc(7rem + 24px);
}

.layout-main {
    flex: 1 1 auto;
}
