<div class="flex flex-wrap justify-content-center ">
    <div class="w-full">
        <p-card header="Sucursales"  class="">
            <div>
                <p-inputGroup class="w-full mb-4">
                    <p-inputGroupAddon>
                        <i class="pi pi-search"></i>
                    </p-inputGroupAddon>
                    <input type="text" pInputText placeholder="Buscar sucursal" pTooltip="Escribe para buscar"/>
                    <button type="button" pButton icon="pi pi-plus" size="small" 
                    class="p-button-success" (click)="showModal()"  pTooltip="Nueva sucursal" ></button>
                </p-inputGroup>

                <p-dataView #dv [value]="branches" [rows]="5" [paginator]="true" emptyMessage="Sin categorias registradas">
                    <ng-template pTemplate="list" let-products>
                        <div class="grid grid-nogutter">
                            <div class="col-12" *ngFor="let item of products; let first = first">
                                <div class="grid p-2" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                    <div class="col">
                                        <div class="overflow-hidden text-overflow-ellipsis text-lg font-medium text-900 mt-2" >{{ item.name }}</div>
                                    </div>
                                    <div class="col-fixed gap-1">
                                        <p-button icon="pi pi-pencil" size="small"  pTooltip="Editar"  (click)="showModal(true,item)"/>
                                    </div>
                                    <div class="col-fixed gap-1">
                                        <p-button severity="danger" icon="pi pi-trash"  size="small" pTooltip="Eliminar" (click)="confirmDeleted(item)"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
        </p-card>
    </div>
</div>

<p-dialog header="{{isEdit?'Editar':'Nueva'}} sucursal" [modal]="true" [(visible)]="visibleModal" >
    <div class="formgrid grid gap-3 mb-3 mt-3">
        <div class="field col-12">
            <label for="tableName">Nombre de la sucursal</label>
            <input id="tableName" type="text" [(ngModel)]="branch.name" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visibleModal = false" />
        <p-button label="Guardar" (click)="confirmSave()" />
    </div>
</p-dialog>

<p-toast />
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button 
                    pButton 
                    label="Si" 
                    (click)="cd.accept()" 
                    class="w-8rem">
                </button>
                <button 
                    pButton 
                    label="No" 
                    (click)="cd.reject()" 
                    class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>