<div class="flex flex-wrap justify-content-center ">
    <div class="w-full">
        <p-card header="Mesas" [style]="{'width':'100%'}">
            <p-dataView #dv [value]="tables" emptyMessage="Sin mesas registradas" >
                <ng-template pTemplate="list" let-items>
                    <div class="grid grid-nogutter">
                        <div class="col-12 m-1" *ngFor="let item of items; let first = first">
                            <div class="grid" [ngClass]="{ 'border-top-1 surface-border': !first}">
                                <div class="col-fixed">
                                    <i class="pi pi-bookmark mt-2" *ngIf="!item.isBusy" style="font-size: 1.5rem" pTooltip="Mesa disponible"></i>
                                    <i class="pi pi-bookmark-fill mt-2"  *ngIf="item.isBusy" style="font-size: 1.5rem" pTooltip="Mesa ocupada"></i>
                                </div>
                                <div class="col">
                                    <div class="font-medium text-700 mt-2">{{ item.name }}</div>
                                </div>
                                <div class="col-fixed gap-1">
                                    <button *ngIf="item.isBusy" pButton icon="pi pi-flag-fill" class="p-button-info"
                                    [rounded]="true" [text]="!item.isRequestAttendace" [raised]="true"  pTooltip="{{item.isRequestAttendace?'Necesita asistencia':''}}" ></button>
                                </div>
                                <div class="col-fixed gap-1">
                                    <button *ngIf="item.isBusy" pButton icon="pi pi-dollar" class="p-button-warning"
                                    [rounded]="true" [text]="!item.isRequestCheck" [raised]="true" pTooltip="{{item.isRequestCheck?'Solicito la cuenta':''}}" ></button>
                                </div>
                                <div class="col-fixed gap-1" >
                                    <p-button 
                                        icon="pi pi-qrcode"
                                        severity="secondary"
                                        [rounded]="true" [text]="true" [raised]="true"
                                        (onClick)="showQRModal(item)">
                                    </p-button>
                                </div>
                                <div class="col-fixed gap-1" >
                                    <p-button 
                                        icon="pi pi-sign-in"
                                        routerLink="/kitchen/table/{{ item.identity}}"
                                        [rounded]="true" [text]="true" [raised]="true"
                                        pTooltip="Ir">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </p-card>
    </div>
</div>

<p-dialog header="QR de mesa {{table?.name}}" [modal]="true" [(visible)]="visibleQRModal" >
    <div class="formgrid grid gap-3 mb-3 mt-3">
        <qrcode
        #parent
        [elementType]="elementType"
        [errorCorrectionLevel]="qrData.errorCorrectionLevel"
        [qrdata]="qrData.qrdata"
        [scale]="qrData.scale"
        [width]="qrData.width"
        [allowEmptyString]="true"
        [className]="qrData.cssClass"
        [colorDark]="qrData.colorDark"
        [colorLight]="qrData.colorLight"
        [margin]="qrData.margin"
        [alt]="qrData.alt"
        [ariaLabel]="qrData.ariaLabel"
        [title]="qrData.title"
        [imageSrc]="qrData.imageSrc"
        [imageHeight]="qrData.imageHeight"
        [imageWidth]="qrData.imageWidth"
      ></qrcode>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cerrar" severity="secondary" (click)="visibleQRModal = false" />
    </div>
</p-dialog>

<p-toast position="top-center" [baseZIndex]="5000">
    <ng-template let-message pTemplate="headless" let-closeFn="closeFn">
        <section class="flex p-3 gap-3 w-full bg-black-alpha-90 shadow-2" style="border-radius: 10px">
            <i class="pi pi-info text-primary-300 text-2xl"></i>
            <div class="flex flex-column gap-3 w-full">
                <p class="m-0 font-semibold text-base text-white">
                    {{ message.summary }}
                </p>
                <p class="m-0 text-base text-400">
                    {{ message.detail }}
                </p>
            </div>
        </section>
    </ng-template>
</p-toast>